.footer__link {
    padding: 0;
    margin: 0;
    margin-right: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    opacity: 1;
}

.footer__link:hover {
    opacity: 0.8;
    translate: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 697px) {
    .footer__link {
        font-size: 24px;
        padding-bottom: 24px;
    }
}
