.content__photo-grid {
    margin: 0 auto 86px;
}

@media screen and (max-width: 1024px) {
    .content__photo-grid {
        margin-bottom: 84px;
    }
}

@media screen and (max-width: 768px) {
    .content__photo-grid {
        margin-bottom: 130px;
    }
}

@media screen and (max-width: 600px) {
    .content__photo-grid {
        margin-bottom: 68px;
    }
}