.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    max-width: 100%;
    column-gap: 40px;
    padding-bottom: 76px;
}

.place:last-child {
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 855px) {
    .place {
        column-gap: 28px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 734px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 48px;
    }
}
