.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    max-width: 100%;
    column-gap: 40px;
}

.place:nth-child(1) {
    padding-bottom: 76px;
}

.place:nth-child(2) {
    padding-bottom: 76px;
}

.place:nth-child(3) {
    padding-bottom: 74px;
}

.place:nth-child(4) {
    padding-bottom: 76px;
}

.place:last-child {
    padding-bottom: 0;
}



@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }

    .place:nth-child(1) {
        padding-bottom: 54px;
    }

    .place:nth-child(2) {
        padding-bottom: 50px;
    }

    .place:nth-child(3) {
        padding-bottom: 74px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
    }

    .place:nth-child(1) {
        padding-bottom: 44px;
    }

    .place:nth-child(2) {
        padding-bottom: 42px;
    }

    .place:nth-child(3) {
        padding-bottom: 42px;
    }

    .place:nth-child(4) {
        padding-bottom: 44px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .place:nth-child(1) {
        padding-bottom: 50px;
    }

    .place:nth-child(2) {
        padding-bottom: 22px;
    }

    .place:nth-child(3) {
        padding-bottom: 22px;
    }

    .place:nth-child(4) {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding: 0;
    }
}